<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/static/page.css}"/>
</head>
<body>

<div id="content">
    <a th:href="@{/user/login}">login your account</a>

    <h1>Your Profile</h1>
    <span th:text="${user.username}">username</span><br/>
    <span th:text="${user.email}">email</span><br/>
    <span th:text="${user.password}">password</span>
</div>

<div id="footer" th:include="page :: copy"></div>
</body>
</html>
